<div>

    <table>
        <thead>
            <tr>
                <th>titre</th>
                <th>contenu</th>
                <th>date d'ajout</th>
                <th>auteur</th>
                <th colspan="2">actions</th>
            </tr>
        </thead>
        <tbody>
            <% for(const data of datas ){ %>
                <tr>
                    <td><%= data.label %></td>
                    <td><%= data.content %></td>
                    <td><%= data.date_added.toLocaleString() %></td>
                    <td><%= data.author %></td>
                    <td>
                        <a href="/admin/story/edit/<%= data.id %>">
                            <i class="fa-solid fa-pen-to-square" style="color: #309c46;"></i>
                        </a>
                    </td>
                    <td>
                        <i class="fa-solid fa-trash" style="color: #e41111;"></i>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <form action="/admin/story/add" method="post" enctype="multipart/form-data" >

        <input type="text" name="label" placeholder="Ici le titre du nouvel article">

        <textarea name="content" placeholder="ici le contenu de l'article"></textarea>
        
        <input type="file" name="url_img" multiple>

        <button type="submit">ajouter l'article</button>

    </form>

</div>